// Specific CSS for your home-page

.banner{
	display: flex !important;
	 background: #FFFFFF;
	.banner-content{
		background: #FFFFFF;
		height: 60vh;
		width: 43vw;
		// display: flex;
		// justify-content: space-around;
		padding-left: 8%;
		padding-right: 37px;
		padding-top: 40px;


		.banner-header{
			h1{
				display: block;
				font-style: normal;
				font-weight: 600;
				font-size: 38px;
				line-height: 60px;
				color: #343B4C;
				margin: 0;
				margin-top: 100px;
				letter-spacing: 3px;
				animation-name: moveInLeft;
				animation-duration: 1s;
				animation-timing-function: ease-out;
			}
			p{
				display: block;
				font-style: normal;
				font-weight: 300;
				font-size: 21px;
				line-height: 36px;
				color: rgba(52, 59, 76, 0.8);
				margin-top: -8px;
				animation: moveInRight 1s ease-out;
			}
		}
		.social-network-icons{
			a{
				display: inline-block;
			    height: 2.8rem;
			    width: 2.8rem;
			    background-color: #495057;
			    color: #fff!important;
			    border-radius: 100%;
			    text-align: center;
			    font-size: 1.1rem;
			    line-height: 2.8rem;
			    margin-right: 0.5rem;
			    transition: all .2s;
			}
			.icon-animated{
				animation: moveInButtom .5s ease-out .75s;
				animation-fill-mode: backwards;
			}
			.icon-animated-1{
				animation: moveInButtom .5s ease-out .85s;
				animation-fill-mode: backwards;
			}
			.icon-animated-2{
				animation: moveInButtom .5s ease-out .95s;
				animation-fill-mode: backwards;
			}
		}
		
	}
	// animation for banner header
	@keyframes moveInLeft{
		0%{
			opacity: 0;
			transform: translateX(-10rem)
		}
		80%{
			transform: translateX(1rem)
		}
		100%{
			opacity: 1;
			transform: translate(0)
		}
	}
	@keyframes moveInRight{
		0%{
			opacity: 0;
			transform: translateX(10rem)
		}
		80%{
			transform: translateX(-1rem)
		}
		100%{
			opacity: 1;
			transform: translate(0)
		}
	}


	// buttom animation
	@keyframes moveInButtom{
		0%{
			opacity: 0;
			transform: translateY(10rem)
		
		}
		100%{
			opacity: 1;
			transform: translate(0)
		}
	}
	.banner-hero{
		// background-image: image-url('share-container-hero-dsk2.png');
		background-image: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55) ), image-url('hero-desk.jpg');
	 	background-size: cover;
	 	background-repeat: no-repeat;
	 	height: 66vh;
	 	background-position: center;
	 	width: 57vw;
	 	// width: 100vw;
	 	clip-path: polygon(100% 0px, 100% 100%, 18% 100%, 0% 0%);
	 	// transform: matrix(-1, 0, 0, 1, 0, 0);
	}
}
.tourquose-color{
	color: #54BFB2;
}

.about-me-wrapper{
	background: #273746;
	padding: 70px 0;
	.avatar-container{
		display: flex;
		justify-content: space-around;
		align-items: center;
		.avatar{
			background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0) ), image-url('profile-picture.jpg');
			background-size: cover;
			height: 200px;
			width: 200px;
			border-radius: 100%;
			border: 8px solid #535F6B;
			// background-position: 0% 36%;
			background-position: center;

			// .avatar-lg{
			// 	height: 100px;
			// 	width: 100px;
			// 	border-radius: 100%;
			// 	border: 4px solid #535F6B;
			// 	box-sizing: border-box;
			// }
		}
	}
	.description-container{
		h2{
			font-family: Saira;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 36px;
			color: #FFFFFF;
		}
		p{
			font-family: Muli;
			font-style: normal;
			font-weight: 200;
			font-size: 16px;
			line-height: 20px;
			color: #FFFFFF;
			color: rgba(255, 255, 255, 0.85);
			text-align: justify;
			// width: 750px;
		}
	}

}

.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}
.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  // line-height: 31px;
  color: #343B4C;

}
.skillset .level-bar {
  height: 12px;
  background: #f5f5f5;
}
.skillset .level-bar-inner {
  height: 12px;
  background: #008489;
}
.skills-wrapper{
	background: white;
	padding: 80px 0;
	padding-bottom: 30px;
}

.skills-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;

  font-family: Saira;
  font-style: normal; 
  line-height: 36px;
  color: #343B4C;
  text-align: center;
}
.skills-wrapper .section-title i {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: inline-block;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #008489;
  text-align: center;
  padding-top: 8px;
  font-size: 14px;
  position: relative;
  top: -2px;
}
.skills-wrapper .section {
  margin-bottom: 60px;
}


.other-skills-wrapper{
	background: linear-gradient(to right, #008489 0, #008489 50%, #f3f3f3 50%, #f3f3f3 100%);
	.languages{
		background: #008489;
		// background: red;
		padding: 56px 56px;
		display: flex;
		justify-content: space-around;
		align-items: center;

		h2{
			text-transform: uppercase;
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 20px;
			font-family: Saira;
			font-style: normal; 
			line-height: 36px;
			color: white;
			// text-align: center;
			i{
				color: white;
				font-size: 29px;
				margin-right: 8px;
			}
		}
		.languages-list{
			display: flex;
			justify-content: flex-start;
			ul{
				padding-inline-start: 0;
				li{
					list-style: none;
					font-family: Muli;
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 20px;
					// text-align: center;
					color: rgba(255, 255, 255, 0.8);
					margin-top: 34px;
					
					
				
					.lang-box{
						background: #08112A;
						border-radius: 50px;
						padding: 10px 20px;
						// margin-top: 10px;
					}
				}
			}
		}
	}
	.personal-skills{
		background: #F5F5F5;
		// background: blue;
		padding: 56px 56px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		h2{
			text-transform: uppercase;
			font-size: 20px;
			margin-top: 0;
			margin-bottom: 20px;
			font-family: Saira;
			font-style: normal; 
			line-height: 36px;
			color: #343B4C;
			// text-align: center;
			i{
				color:#008489;
				font-size: 29px;
				margin-right: 8px;
			}
		}
		.personal-skills-list{
			ul{
				padding-inline-start: 0;
				li{
					list-style: none;
					font-family: Muli;
					font-style: normal;
					font-weight: normal;
					font-size: 16px;
					line-height: 23px;
					color: #343B4C;
					margin-top: 15px;
					i{
						color: #008489;
						font-size: 8px;
						margin-right: 6px;
					}
				}
			}
			ul li{
				text-decoration: none;
			}
		}
	}
	.col-sm-6{
		padding: 0;
	}
	.row{
		padding: 0 !important;
	}

}

.my-projects-wrapper{
	background: #273746;
	padding: 20px 20px;
	.projects-inner-container{
		background: rgba(255, 255, 255, 0.34);
		padding: 50px 20px;
		h2{
			font-family: Saira;
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 36px;
			text-align: center !important;
			color: #131314;
			text-transform: uppercase;
			margin-bottom: 30px;
			i{
				color: #131314;
				font-size: 29px;
				margin-right: 8px;
				width: 30px;
				height: 30px;
				margin-right: 5px;
				display: inline-block;
				
				border-radius: 50%;
				// -moz-background-clip: padding;
				// -webkit-background-clip: padding-box;
				background-clip: padding-box;
				background: white;
				text-align: center;
				padding-top: 8px;
				font-size: 14px;
				position: relative;
				top: -2px;

			}
		}
		.card-project-img{
			height: 275px;
			background-size: cover !important;
			background-position: top;
			// margin-top: 21px;
			// margin-left: 19px;
			// margin-bottom: 18px;
			border: 2px solid #FFFFFF;
			border-radius: 3px;
			overflow: hidden;
			position: relative;
			.color-overlay{
			  /* Rectangle 11: */
			  background: rgba(84,104,110,0.1);
			  width: 100%;
			  height: 275px;;
			  position: absolute;
			  z-index: 10;
			  top: 0;
			  left: 0;
			  transition: background .3s cubic-bezier(.33,.66,.66,1);
			}
			.gradient-overlay{
			  /* bg-gradient: */
			  // background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
			  // background-image: -moz-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
			  // background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
			  // background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0) 21%);
			  width: 100%;
			  height: 275px;;
			  position: absolute;
			  top: 180px;
			  left: 0;
			  z-index: 15;
			}
			
			&:hover{
			  
			  .card-info{
			    opacity: 1;
			    bottom: 120px;
			    width: 100%;
			    .btn-visit{
			    	opacity: 1;
			    	font-family: Saira;
			    	font-weight: 500;
					color: #495057;
					display: inline-block;
					height: 2.8rem;
					width: 2.8rem;
					background-color: white;
					// color: #fff !important;
					border-radius: 100%;
					text-align: center;
					font-size: 1.0rem;
					line-height: 2.8rem;
					margin-right: 0.5rem;
					text-decoration: none;
					list-style: none;
					cursor: pointer;
					&:hover{
					    text-decoration: none;
					   
					}
					&:active{
					    text-decoration: none;
					}
			    }
			    i{
			    	opacity: 1;
			    	color: #495057;
			    	display: inline-block;
			    	height: 2.8rem;
			    	width: 2.8rem;
			    	background-color: white;
			    	// color: #fff !important;
			    	border-radius: 100%;
			    	text-align: center;
			    	font-size: 1.7rem;
			    	line-height: 2.8rem;
			    	margin-right: 0.5rem;
			    	cursor: pointer;
			    	&:hover{
			    		background-color: #003133;
			    		color: white;
			    	}
			    }

			  }
			  .color-overlay{
			    background: rgba(84,104,110,0.8);
			  }
			  .gradient-overlay{
			  	background-image: -webkit-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
			  	background-image: -moz-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
			  	background-image: -o-linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,.6) 21%);
			  	background-image: linear-gradient(rgba(0,0,0,0.00) 0%, rgba(0,0,0,0.3) 21%);
			  }
			 
			}
		
			.card-info{
			  width: 100%;
			  position: absolute;
			  bottom: 60px;
			  left: 0;
			  margin: 0 auto;
			  padding: 0 50px;
			  color: #DCE3E7;
			  font-family: Saira;
			  font-size: 15px;
			  text-align: center;
			  font-family: 'Droid Serif', serif;
			  line-height: 24px;
			  z-index: 20;
			  opacity: 0;
			  transition: bottom .3s, opacity .3s cubic-bezier(.33,.66,.66,1);
			}
			.btn-visit{
				opacity: 0;
			}
			i{
				opacity: 0;
			}
		}
		.project-description-container{
			.project-description{
				padding: 22px 0;
				h3{
					font-family: Saira;
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 31px;
					color: black;
				}
				p{
					font-family: Muli;
					font-style: normal;
					font-weight: 300;
					font-size: 15px;
					line-height: 25px;
					color: black;
					margin-bottom: 6px;

					.projects-sub{
						font-weight: bold;
						color: black;
						font-size: 16px;
						
					}
				}
			}
			
		}
		hr{
			margin-top: 40px;
			margin-bottom: 40px;
			border-top: 1px solid rgba(250, 250, 250, 0.2);
		}
	}
}
.education-wrapper{
	background: #08112A;
	padding: 100px 0;
	h2{
		font-family: Saira;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 36px;
		text-align: center;
		color: #008489;
		margin-bottom: 27px;
	}
	i{
		font-size: 27px;
		margin-right: 8px;
		color: white
	}
	.dates-container{
		border-right: 2px solid #008489;
		display: flex;
		justify-content: flex-end;
		padding-right: 23px;
		padding-bottom: 40px;
		.dates{
			display: flex;
			justify-content: space-around;
			align-items: center;
			color: #fff;
		    background: #008489;
		    width: 150px;
		    height: 150px;
		    padding: 40px 0 40px 0;
		    border-radius: 50%;
		    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.3);
		    border-right: 1px solid #008489;
		    // margin-right: 20px;
		    h3{
		    	font-family: Muli;
		    	font-style: normal;
		    	font-weight: 400;
		    	font-size: 17px;
		    	line-height: 23px;
		    	text-align: center;

		    	color: #FFFFFF;
		    }
		}
	}
	
	.course-description-container{
		padding-left: 10px;
		.course-description{
			width: auto;
			background: white;
			
			padding: 22px 47px 6px 47px;
			// margin-left: 15px;
			text-align: left;
			border-radius: 12px;
			// display: flex;
		 //    align-items: center;
		 //    justify-content: space-around;
		    height: 150px;
		
			h3{

				font-family: Saira;
				font-style: normal;
				font-weight: 600;
				font-size: 19px;
				line-height: 31px;
				color: #343B4C;
			}
			h4{
				font-family: Saira;
				font-style: normal;
				font-weight: 500;
				font-size: 17px;
				line-height: 28px;
				color: rgba(52, 59, 76, 0.88);
				margin-top: -4px;
			}
			p{
				font-family: Muli;
				font-style: normal;
				font-weight: 300;
				font-size: 15px;
				line-height: 20px;
				color: rgba(52, 59, 76, 0.79);
				margin-top: -4px;
			}

		}
		.course-description:before{
			content: ' ';
			height: 25px;
			width:25px;
			position: absolute;
			left: 15px;
	    	top: 53px;
			background-color: white;
			transform: rotate(45deg);
		}
	}
}

.contact-form-wrapper{
	padding: 50px 0;
	background: white;
	.contact-form-container{
		h2{
			font-family: Muli;
			font-style: normal;
			font-weight: 700;
			font-size: 30px;
			line-height: 39px;
			text-align: center;
			color: #08112A;
		}
		.title-border{
			border: 1.5px solid #008489;
		    width: 62px;
		    position: absolute;
		    left: 45%;
		}
		.form-box{
			background: #08112A;
			padding: 40px 40px;
			margin-top: 26px;
			border-radius: 3px;
			form{
				.hidden{
					display: none;
				}
				input{
					background: #FFFFFF;
					border-radius: 3px;

				}
				.btn-form-submit{
					background: #008489;
					border-radius: 4px;
					width: 100%;
					font-family: Saira;
					font-style: normal;
					font-weight: 400;
					font-size: 17px;
					line-height: 28px;
					text-align: center;
					color: #FFFFFF;
					height: 37px;
				}
				.form-control{
					height: 37px;
					margin-top: 10px;
					border: none;
				}
				::placeholder{
					font-family: Saira;
					font-style: normal;
					font-weight: lighter;
					font-size: 16px;
					line-height: 25px;
					color: rgba(0, 0, 0, 0.8);
				}
			}
			.message-input{
				height: 120px !important;
			}
		}
	}
	.social-network-contacts{
		    display: flex;
    		justify-content: space-around;
		.social-net-container{
			h2{
				font-family: Muli;
				font-style: normal;
				font-weight: 700;
				font-size: 30px;
				line-height: 39px;
				text-align: center;
				color: #08112A;
			}
			.title-border{
				border: 1.5px solid #008489;
			    width: 62px;
			    position: absolute;
			    left: 45%;
			}
			a{
			    display: inline-block;
			    height: 2.8rem;
			    width: 2.8rem;
			    background-color: #171312;
			    color: #fff !important;
			    border-radius: 100%;
			    text-align: center;
			    font-size: 1.1rem;
			    line-height: 2.8rem;
			    margin-right: 0.5rem;
			    
				
			}
		    .icon-border-blue{
				background-color: #007bb5;
				margin-top: 34px;
		    }
		    .icon-border-dark-blue{
		    	background-color: #4C6EF5;
		    }



		}
	}
}

.hidden-wrapper{
	height: 75px;
}

.wrapper-thank-you-message{
	background: #F9F9F9;
	padding: 73px 0;
	height: 100vh;
	.message-container{
		display: flex;
		justify-content: space-around;
		align-items: center;
		.message-description{
			text-align: center;
			background-color: white;
			box-shadow: 0 4px 2px -2px gray;
			box-shadow: 0 5px 13px -1px grey;
   			// box-shadow: 5px 10px 8px #888888;
   			padding: 28px 35px;
			.icon{
				padding-top: 50px;
				i{
					color: #44c400;
					font-size: 100px;

				}
			}
			h1{
				font-family: Roboto;
				color: rgba(24, 24, 24, 0.8);
				font-weight: 500;
				font-size: 46px;
			}
			p{
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 17px;
				line-height: 23px;
				color: rgba(0, 0, 0, 0.65);

			}
		}
	}
}

.wrapper-interests{
	// background: #008489;
	background-image: linear-gradient( to right, rgba(0,0,0,0.55), rgba(0, 132, 137, 0.8)) , image-url('nature2.jpg');
	background-position: top;
	background-size: cover;
	height: 35vh;
	padding: 35px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-attachment: fixed;
	h1{
		color: white;
		font-family: Helvetica;
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		line-height: 30px;
		text-align: center;
		text-transform: uppercase;
	}
	h2{
		color: white;
		font-family: Muli;
		font-style: normal;
		font-weight: lighter;
		font-size: 26px;
		line-height: 30px;
		text-align: center;
	}
}

//mobile version

.banner-mob{
	background-image:  linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45) ), image-url('hero-mob.jpg');
	background-size: cover;
	height: 38vh;
	background-position: 100% 10%;
	// clip-path: polygon(100% 0px, 100% 66%, 0% 86%, 0% 0%);
	    clip-path: polygon(100% 0px, 100% 100%, 0% 67%, 0% 0%);

	// transform: matrix(-1, 0, 0, 1, 0, 0);
	
}

.banner-header-mob{
	height: 212px;
	background: white;
	margin-top: -115px;
	padding-left: 15px;
	.header-description{
		h1{
			
			font-style: normal;
			font-weight: 600;
			font-size: 23px;
			line-height: 29px;
			color: #343B4C;
			margin: 0;
			padding-top: 97px;
			// position: absolute;
			// bottom: 0;
			animation-name: moveInLeft;
			animation-duration: 1s;
			animation-timing-function: ease-out;

		}
		p{
			
			font-style: normal;
			font-weight: 300;
			font-size: 17px;
			line-height: 25px;
			color: rgba(52, 59, 76, 0.8);
			margin: 0;
			animation: moveInRight 1s ease-out;
			// margin-top: -8px;
		}
		.social-network-icons-mob{
			padding-top: 6px;
			a{
				display: inline-block;
			    height: 2.2rem;
			    width: 2.2rem;
			    background-color: #495057;
			    color: #fff!important;
			    border-radius: 100%;
			    text-align: center;
			    font-size: 1.0rem;
			    line-height: 2.2rem;
			    margin-right: 0.5rem;
			    transition: all .2s;
			}
			.icon-animated{
				animation: moveInButtom .5s ease-out .75s;
				animation-fill-mode: backwards;
			}
			.icon-animated-1{
				animation: moveInButtom .5s ease-out .85s;
				animation-fill-mode: backwards;
			}
			.icon-animated-2{
				animation: moveInButtom .5s ease-out .95s;
				animation-fill-mode: backwards;
			}
		}
		// animation for banner header
		@keyframes moveInLeft{
			0%{
				opacity: 0;
				transform: translateX(-10rem)
			}
			80%{
				transform: translateX(1rem)
			}
			100%{
				opacity: 1;
				transform: translate(0)
			}
		}
		@keyframes moveInRight{
			0%{
				opacity: 0;
				transform: translateX(10rem)
			}
			80%{
				transform: translateX(-1rem)
			}
			100%{
				opacity: 1;
				transform: translate(0)
			}
		}


		// buttom animation
		@keyframes moveInButtom{
			0%{
				opacity: 0;
				transform: translateY(10rem)
			
			}
			50%{
				opacity: 0;
				transform: translateY(10rem)
			
			}
			100%{
				opacity: 1;
				transform: translate(0)
			}
		}
	}
	
}

@media only screen 
  and (max-width: 320px){
  	.banner-header-mob{
  		height: 214px;
  		.header-description{
			h1{
				padding-top: 100px;
				font-size: 22px;
			}
			p{
				font-size: 16px;
				margin-top: -2px;
			}
			.social-network-icons-mob {
				padding-top: 2px;
				a{
					margin-right: 0.2rem;
				}
			}
  		}
  	}
  	.hidden-wrapper {
  		height: 52px;
  	}
	.banner{
		display: none !important;
	}
	.about-me-wrapper{
	  padding: 32px 0;
	  .avatar-container {
	    .avatar{
	        height: 150px;
	        width: 150px;
	        border: 6px solid #535F6B;
	    }
	  }
	  .description-container {
	    h2{
	        font-size: 16px;
	        text-align: center;
	        margin-top: 16px;
	        margin-bottom: 0px;
	    }
	    p{
	      font-size: 14px;
	      text-align: justify;
	      letter-spacing: 0.1px;
	    }
	  }
	}
	.skills-wrapper{
	    padding-bottom: 1px;
	    padding-top: 40px;
      .section-title{
        font-size: 16px;
        margin-bottom: 24px;
      }
	}
	.skillset {
	  .level-title{
	    margin-bottom: 7px;
	  }
	  .level-bar{
	    height: 9px;
	  }
	  .level-bar-inner{
	    height: 9px;
	  }
	}
	.other-skills-wrapper {
	  .languages{
	    padding: 23px 15px;
	    justify-content: flex-start;
	    h2{
	      font-size: 16px;
	      margin-bottom: -12px;
	      i{
	        font-size: 24px;
	      }
	    }
	    .languages-list ul li{
	      font-size: 14px;
	    }
	  }
	  .personal-skills{
	    padding: 33px 15px;
	    h2{
	      font-size: 16px;
	      margin-bottom: 14px;
	      i{
	        font-size: 24px;
	      }
	    }
	    .personal-skills-list{
	    	ul{
	    	  li{
	    	    font-size: 14px;
	    	    i{
	    	      font-size: 7px;
	    	    }
	    	  }
	    	}
	    }
	    
	  }
	}
	.my-projects-wrapper {
	  	.projects-inner-container{
		    padding: 21px 10px;
		    h2{
		      font-size: 15px;
		      margin-bottom: 17px 
		    }
		    .card-project-img{
		    	height: 150px;
		    	.gradient-overlay{
		    		height: 150px;
		    		top: 80px
		    	}
		    	.color-overlay{
		    		height: 150px;
		    	}
		    }
		    .card-padding-top{
		    	margin-top: 37px;
		    }
		    .project-card-cta{
		    	display: flex;
    			justify-content: space-around;
    			padding-top: 10px;
				  
			    i{
			    	opacity: 1;
			    	color: #495057;
			    	display: inline-block;
			    	height: 2.1rem;
			    	width: 2.1rem;
			    	background-color: white;
			    	// color: #fff !important;
			    	border-radius: 100%;
			    	text-align: center;
			    	font-size: 1.2rem;
			    	line-height: 2.1rem;
			    	margin-right: 0.5rem;
			    	cursor: pointer;
			    	&:hover{
			    		background-color: #003133;
			    		color: white;
			    	}
			    }
		    }
		    .project-description-container {
		    	.project-description{
		    		padding: 13px 0;
					h3{
						font-size: 16px;
						text-align: center;
						text-decoration: underline;
					}
					p{
						font-size: 14px;
						text-align: justify;
						    line-height: 22px;
						.projects-sub{
							font-size: 14px;
						}
					}
		    	}
		    }
		    hr{
		    	border-top: 1px solid rgba(250, 250, 250, 0.2);
		    	margin: 0;
		    }
	    }
	}

	.education-wrapper{
		padding: 50px 0;
		h2{
			font-size: 16px;
		}
		i{
			font-size: 23px;
		}
		.dates-container{
			border: none;
			justify-content: center;
			padding-bottom: 28px;
			padding-right: 0;
			
			.dates{
				width: 135px;
				height: 135px;
				h3{
					font-size: 15px;
				}
			}
		}
		.dates-container-margin-top{
			padding-top: 40px;
		}
		.course-description-container{
			.course-description{
				padding: 18px 15px 6px 15px;
				h3{
					font-size: 16px;
					margin-bottom: 1px;
				}
				h4{
					font-size: 14px;
				}
				p{
					font-size: 13px;
					margin-top: -10px;
				}
			}
			.course-description:before{
				left: 149px;
				top: -9px;
			}
		}
	}
	.contact-form-wrapper{
		padding-top: 35px;
		.social-network-contacts {
			.social-net-container{
				h2{
					font-size: 25px;
				}
				.title-border{
					width: 55px;
					left: 43%;
				}
			}
		}
		.contact-form-container{
			.form-box {
				padding: 25px 25px;
				margin-top: 20px;
				form{
					::placeholder{
						font-size: 15px;
					}
					.btn-form-submit {
						font-size: 16px;
					}
				}
			}
		} 
	}
	.wrapper-interests{
		h1{
			font-size: 20px;
		}
		h2{
   			font-size: 18px;
   			line-height: 21px;
   			margin-top: -9px;
		}
	}

}
@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){

  	.banner-header-mob{
  		height: 214px;
  		.header-description{
			h1{
				padding-top: 100px;
				font-size: 22px;
			}
			p{
				font-size: 16px;
				margin-top: -2px;
			}
			.social-network-icons-mob {
				padding-top: 2px;
				a{
					margin-right: 0.2rem;
				}
			}
  		}
  	}
  	.hidden-wrapper {
  		height: 52px;
  	}
	.banner{
		display: none !important;

	}
	.about-me-wrapper{
	  padding: 32px 0;
	  .avatar-container {
	    .avatar{
	        height: 150px;
	        width: 150px;
	        border: 6px solid #535F6B;
	    }
	  }
	  .description-container {
	    h2{
	        font-size: 17px;
	        text-align: center;
	        margin-top: 10px;
	        margin-bottom: 0px;
	    }
	    p{
	      font-size: 15px;
	      text-align: justify;
	      letter-spacing: 0.1px;
	    }
	  }
	}
	.skills-wrapper{
	    padding-bottom: 1px;
	    padding-top: 40px;
      .section-title{
        font-size: 17px;
        margin-bottom: 24px;
      }
	}
	.skillset {
	  .level-title{
	    margin-bottom: 7px;
	  }
	  .level-bar{
	    height: 9px;
	  }
	  .level-bar-inner{
	    height: 9px;
	  }
	}
	.other-skills-wrapper {
	  .languages{
	    padding: 23px 36px;
	    justify-content: flex-start;
	    h2{
	      font-size: 17px;
	      margin-bottom: -12px;
	      i{
	        font-size: 24px;
	      }
	    }
	    .languages-list ul li{
	      font-size: 15px;
	    }
	  }
	  .personal-skills{
	    padding: 35px 22px;
	    h2{
	      font-size: 18px;
	      margin-bottom: 14px;
	      i{
	        font-size: 26px;
	      }
	    }
	    .personal-skills-list{
	    	ul{
	    	  li{
	    	    font-size: 15px;
	    	    i{
	    	      font-size: 7px;
	    	    }
	    	  }
	    	}
	    }
	    
	  }
	}
	.my-projects-wrapper {
	  	.projects-inner-container{
		    padding: 21px 10px;
		    h2{
		      font-size: 18px;
		      margin-bottom: 26px 
		    }
		    .card-project-img{
		    	height: 200px;
		    	.gradient-overlay{
		    		height: 200px;
		    		top: 100px
		    	}
		    	.color-overlay{
		    		height: 200px;
		    	}
		    }
		    .card-padding-top{
		    	margin-top: 37px;
		    }
		    .project-card-cta{
		    	display: flex;
    			justify-content: space-around;
    			padding-top: 10px;
				  
			    i{
			    	opacity: 1;
			    	color: #495057;
			    	display: inline-block;
			    	height: 2.5rem;
			    	width: 2.5rem;
			    	background-color: white;
			    	// color: #fff !important;
			    	border-radius: 100%;
			    	text-align: center;
			    	font-size: 1.5rem;
			    	line-height: 2.5rem;
			    	margin-right: 0.5rem;
			    	cursor: pointer;
			    	&:hover{
			    		background-color: #003133;
			    		color: white;
			    	}
			    }
		    }
		    .project-description-container {
		    	.project-description{
					h3{
						font-size: 18px;
						text-align: center;
						text-decoration: underline;
					}
					p{
						font-size: 15px;
						text-align: justify;
						.projects-sub{
							font-size: 15px;
						}
					}
		    	}
		    }
		    hr{
		    	border-top: 1px solid rgba(250, 250, 250, 0.2);
		    	margin: 0;
		    }
	    }
	}

	.education-wrapper{
		padding: 50px 0;
		h2{
		font-size: 18px;
		}
		i{
			font-size: 24px;
		}
		.dates-container{
			border: none;
			justify-content: center;
			padding-bottom: 28px;
			padding-right: 0;
			
			.dates{
				width: 135px;
				height: 135px;
				h3{
					font-size: 15px;
				}
			}
		}
		.dates-container-margin-top{
			padding-top: 40px;
		}
		.course-description-container{
			.course-description{
				padding: 18px 26px 6px 26px;
				h3{
					font-size: 17px;
					margin-bottom: 1px;
				}
				h4{
					font-size: 15px;
				}
				p{
					font-size: 13px;
					margin-top: -10px;
				}
			}
			.course-description:before{
				left: 195px;
				top: -9px;
			}
		}
	}
	.contact-form-wrapper{
		padding-top: 35px;
		.social-network-contacts {
			.social-net-container{
				h2{
					font-size: 25px;
				}
				.title-border{
					width: 55px;
					left: 43%;
				}
			}
		}
		.contact-form-container{
			.form-box {
				padding: 25px 25px;
				margin-top: 20px;
				form{
					::placeholder{
						font-size: 15px;
					}
					.btn-form-submit {
						font-size: 16px;
					}
				}
			}
		} 
	}
	.wrapper-interests{
		h1{
			font-size: 20px;
		}
		h2{
   			font-size: 19px;
   			line-height: 21px;
   			margin-top: -9px;
		}
	}
}

@media only screen 
and (min-width: 768px)
and (max-width: 990px){
	.banner{
		.banner-content{
			height: 50vh;
			padding-left: 7%;
			.banner-header{
				h1{
					font-size: 27px;
					line-height: 53px;
				}
				p{
					font-size: 16px;
    				line-height: 20px;

				}
			}
			.social-network-icons a{
				height: 2.4rem;
				width: 2.4rem;
				line-height: 2.4rem;
			}
		}
		.banner-hero{
			height: 55vh;
		}
	} 
	.about-me-wrapper {
		padding: 46px 0;
		.avatar-container{
			.avatar{
				height: 130px;
				width: 130px;
				border: 6px solid #535F6B;
			}
		}
		.description-container{
			h2{
				font-size: 18px;
			}
			p{
				font-size: 15px;
			}
		}
	}
	.skills-wrapper{
		padding: 55px 0;
		padding-bottom: 22px;
	}
	.skills-wrapper .section-title{
		font-size: 20px;
	}
	.other-skills-wrapper {
		.languages {
			padding: 39px 24px;
			h2{
				margin-bottom: 6px;
			}
			.languages-list {
				ul li {
					font-size: 15px;
				}
			}
			
		}
		.personal-skills{
			padding: 39px 24px;
			 .personal-skills-list {
			 	ul li {
			 		font-size: 15px;
			 	}
			 }
			
		}
	}
	.education-wrapper{
		.dates-container{
			padding-right: 12px;
			.dates{
				width: 120px;
				height: 120px;
				h3{
					font-size: 13px;
				}
			}
		}
		.course-description-container {
			.course-description{
				    padding: 22px 28px 6px 28px;
				h3{
					font-size: 17px;
					margin-bottom: 0px;
				}
				h4{
					font-size: 15px;
					margin-bottom: 3px;
				}
				p{
					font-size: 14px;
					margin-bottom: 0;
				}
			}
			.course-description::before{
				top: 40px;
			}
		}

	}
	.my-projects-wrapper {
		.projects-inner-container {
			.project-description-container {
				.project-description{
					p{
						font-size: 14px;
					}
				}
			}
		}
	}

	.contact-form-wrapper {
		.contact-form-container {
			.form-box{
				padding: 20px 23px;
			}
		}
		.social-network-contacts {
			.social-net-container{
				h2{
					font-size: 28px;
				}
				.title-border{
					width: 55px;
					left: 42%;
				}
			}
		}
		
	}
	

}







//SKILLS PROGRESSIVE BAR MEDIA QUERIES
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }
  .main-wrapper {
    padding: 30px;
  }
  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }
  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 20%;
    margin-bottom: 0;
  }
  .skillset .level-bar {
    display: inline-block;
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
}
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */

