<div class="hidden-wrapper">
	
</div>
<div class="wrapper-thank-you-message">
	<div class="container">
		<div class="message-container">
			<div class="message-description">
				<div class="icon">
					<i class="far fa-check-circle"></i>
				</div>
				<h1>Thank you!  </h1>
				<p>Thank your for getting in touch! <br>Your message has been sent and i will get back to you shortly! </p>
			</div>
		</div>
	</div>
</div>