/* Main navbar */
.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #273746;
  // transition: all 0.3s ease;
  height: 75px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #FFFFFF;
  
  width: 100vw;
  font-weight: lighter;
  position: fixed;
  z-index: 1000;

}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 33px;
  width: 33px;
  border-radius: 100%;
}

/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
}

.language-pt{
  color: #FFFFFF !important;
  opacity: .8;

  text-decoration: none;
  // font-size: 12px;
}

.navbar-wagon p{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 10px;
}

.facebook{
  font-size: 12px;
}
/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 8px;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 14px;
  font-family: Saira;
  font-style: normal;
  font-weight: 200;
}
.navbar-wagon-link:hover {
  color: #11f7d8;
  text-decoration: none;
}
.navbar-links-container{
  a{
    font-family: Saira;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 24px;
   padding-left: 15px;
   
    color: #FFFFFF;
  }
}


/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  z-index: 2000 !important;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #5b5b5b !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
  
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.dropdown-toggle::after{
  content: none;
}

.dropdown-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.language{
  margin-right: 37px;
  margin-bottom: 6px;
}

.btn-resume{
  background: #FA5959;
  border-radius: 4px;
  padding: 5px 9px;
  text-align: center;
  color: white !important;
  &:hover{
    background: white;
    text-decoration: none;
    color: #353C4C !important;
    }
    &:visited{
        color: #353C4C;
        text-decoration: none currentcolor solid;
  }
}

@media only screen 
  and (max-width: 320px){
    .navbar-wagon {
      height: 52px;
    }
}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  .navbar-wagon {
    height: 52px;
  }
}

